@font-face {
    font-family: 'Manaspace';
    src: url('file:assets/fonts/manaspc.ttf');
}

.menuTitle {
	-fx-font-size: 80px;
}

.gameTitle {
	-fx-font-size: 88px;
}

.manaspaceFont {
    -fx-font-family: 'Manaspace', Consolas;
	-fx-text-fill: black;
}

.manaSpaceFontNoColour {
	-fx-font-family: 'Manaspace', Consolas;
}

.manaspaceFontRed {
	-fx-font-family: 'Manaspace', Consolas;
	-fx-text-fill: red;
}

.button {
	-fx-background-radius: 0px;
}

.menuButton {
	-fx-font-size: 28px;
	-fx-background-radius: 0px;
}

.mapButton {
	-fx-font-size: 16px;
	-fx-background-radius: 0px;
}

.backButton {
	-fx-font-size: 22px;
	-fx-background-radius: 0px;
}