@font-face {
    font-family: 'Manaspace';
    src: url('file:assets/fonts/manaspc.ttf');
}

.root {
    -fx-background-color: black;
    -fx-cursor: crosshair
}

.menuTitle {
    -fx-font-size: 80px;
}

.gameTitle {
    -fx-font-size: 88px;
}

.manaspaceFontWhite {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-text-fill: white;
}

.manaspaceFontBlack {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-text-fill: black;
}

.nameInputBox {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-font-size: 28px;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-min-width: 400px;
}

.serverInputBox {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-font-size: 28px;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-background-color: black;
}

.serverColon {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-text-fill: white;
    -fx-font-size: 28px;
}

.settingsSmallLabel {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.nameTooLong {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-text-fill: red;
    -fx-font-size: 16px;
}

.playButton {
    -fx-font-size: 38px;
    -fx-background-radius: 0px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.button {
    -fx-background-radius: 0px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.menuButton {
    -fx-font-size: 28px;
    -fx-background-radius: 0px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.mapButton {
    -fx-font-size: 24px;
    -fx-background-radius: 0px;
    -fx-padding: 10px;
    -fx-pref-height: 230px;
    -fx-pref-width: 230px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.teamButton {
    -fx-font-size: 28px;
    -fx-background-radius: 0px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.resolutionSelector {
    -fx-font-size: 20px
}

.backButton {
    -fx-font-size: 22px;
    -fx-background-radius: 0px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.volumeSlider {
    -fx-font-family: 'Manaspace', Consolas;
    -fx-padding: 5px;
    -fx-text-fill: white;
    -fx-color: white;
    -fx-fill: white;
    -fx-control-inner-background: white;
}

.controlsItem {
    -fx-font-size: 18px;
}

.button:hover {
    -fx-text-fill: black;
    -fx-border-color: lightgrey;
    -fx-background-color: lightgrey;
    /*-fx-effect: dropshadow(gaussian, white, 5, 0.2, 0, 0);*/
}

.mapButton:hover {
    -fx-text-fill: black;
    -fx-border-color: lightgrey;
    -fx-background-color: lightgrey;
}