#java class
*.class

#java serialised files
*.ser

#log
*.log

#package files
*.zip
*.tar.gz
*.rar
*.exe

#mac
.DS_Store

#eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

#intellij
.idea/
out/
*iml
